   <div class="container mt-5">
    <h2>Register Driver</h2>
    <form [formGroup]="driverForm" (ngSubmit)="registerDriver()" class="needs-validation" novalidate>
      <div class="form-group">
        <label for="driverName">Driver Name</label>
        <input type="text" class="form-control" id="driverName" formControlName="driverName" required>
        <div *ngIf="driverForm.get('driverName')?.invalid && driverForm.get('driverName')?.touched" class="invalid-feedback">
            Driver name is required.
          </div>
      </div>
  
      <div class="form-group">
        <label for="driverEmail">Driver Email</label>
        <input type="email" class="form-control" id="driverEmail" formControlName="driverEmail" required>
        <div *ngIf="driverForm.get('driverEmail')?.invalid && driverForm.get('driverEmail')?.touched" class="invalid-feedback">
            Please provide a valid email.
        </div>
      </div>
  
      <div class="form-group">
        <label for="driverMobile">Driver Mobile</label>
        <input type="text" class="form-control" id="driverMobile" formControlName="driverMobile" required>
        <div *ngIf="driverForm.get('driverMobile')?.invalid && driverForm.get('driverMobile')?.touched" class="invalid-feedback">
            Mobile number is required.
        </div>
      </div>

      <div class="form-group">
        <label for="videoConferenceMeetingDate">Video Conference Meeting Date</label>
        <br>
        <mat-form-field appearance="outline">
          <mat-label>Meeting Date</mat-label>
          <input matInput [matDatepicker]="picker"  formControlName="videoConferenceMeetingDate" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="driverForm.get('videoConferenceMeetingDate')?.hasError('required')">
            Meeting date is required.
          </mat-error>
        </mat-form-field>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!driverForm.valid">Register</button>
    </form>
  </div>
  